[Unit]
Description=A button box controller for the Raspberry Pi

[Service]
# Edit the directory below if you placed the folder elsewhere
Type=simple

# If you have permission issues, you might want to uncomment and edit the following to match your folder permissions
# User=USER
# Group=GROUP

# Edit the arguments according to your needs
ExecStart=/usr/bin/python3 /opt/rpi-button-box/button-box.py

# Restart options; if the controller is turned OFF, 'Restart=always' allows it to come back after 10sec and wait to be turned back ON again
Restart=always
RestartSec=10

KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
