[Unit]
Description=A button box controller for the Raspberry Pi

[Service]
# Edit the directory below if you placed the folder elsewhere
Type=simple
# User must match folder permission and user with the required Python packages
User=pi
# Group=GROUP

# Edit the arguments according to your needs
ExecStart=/usr/bin/python3 /opt/rpi-button-box/button-box.py

# Restart options; if the controller is turned OFF, 'Restart=always' allows it to come back after 10sec and wait to be turned back ON again
Restart=always
RestartSec=10

# Tell how systemd should kill this process
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
